
<br>
<div align="center">
    <table class="table table-responsive">
      <thead>
        <td *ngIf="admin" style="text-align:center; font-weight: bold; font-size: 20px;">BlogID</td>
        <td *ngIf="admin" style="text-align:center;font-weight: bold; font-size: 20px;">Blog Approval</td>
        <td style="text-align:center; font-weight: bold; font-size: 20px;">Blog Title</td>
        <td style="text-align:center;font-weight: bold; font-size: 20px;">Blog Description</td>
        <td *ngIf="admin" style="text-align:center;font-weight: bold; font-size: 20px;">Options</td>
      </thead>
      <tr *ngFor="let blog of blogs">
        <td  *ngIf="admin" style="text-align:center">{{blog.blogID}}</td>
        <td  *ngIf="admin" style="text-align:center">{{blog.approved}}</td>
        <td style="text-align:center">{{blog.blogTitle}}</td>
        <td style="text-align:center">{{blog.blogDescription}}</td>
        <td  *ngIf="admin" style="text-align:center">
            <button  (click)="approveBlog(blog.blogID)" [routerLink]="getAllBlogs" class="glyphicon glyphicon-ok btn btn-success"></button>
            <button (click)="rejectBlog(blog.blogID)" class="glyphicon glyphicon-remove btn btn-default"></button>
            <button (click)="deleteBlog(blog.blogID)" class="glyphicon glyphicon-trash btn btn-danger"></button>
        </td>
      </tr>
    </table>
  </div>