    <input  [(ngModel)]="userdetail.userName" placeholder="UserName" type="text" />
    <input [(ngModel)]="userdetail.firstName" placeholder="FirstName">
    <input [(ngModel)]="userdetail.lastName" placeholder="LastName">
    <input [(ngModel)]="userdetail.email" placeholder="Email">
    <input [(ngModel)]="userdetail.mobile" placeholder="Mobile">
    <input [(ngModel)]="userdetail.address" placeholder="Address">
    <input [(ngModel)]="userdetail.password" placeholder="Password">
    <button type="submit" (click)="registerUser()">Register</button>